@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Welcome</h2>
<div class="row">

    <div class="col-md-offset-2 col-md-10">
        <h2> Welcome to petzone </h2>
        <p> Hopefully you'll have a wonderfull experience with us, Enjoy our services</p>
        <a href="#" onclick="location.href='@Url.Content("~/Admin/Index")'"> Continue </a>
    </div>
</div>

