@{
    ViewBag.Title = "WrongLogin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row" id="login_div">
    <div class="col-md-offset-3 col-md-6">
        <form method="post" id="form-login" action="/Admin/LoginInfo">
            <label id="form-label">Login and enjoy shoping</label><br />
            <a href="#" id="wrong-login">User name or password is incorrect</a>
            <input type="text" name="Name" id="lg-name" class="form-control" placeholder="Name" />
            <input type="text" name="Password" id="lg-password" class="form-control" placeholder="Password" />
            <a><input type="submit" id="login-request" value="LOGIN" /></a>
            <a href="#" id="signup-request1">Don't have account, please sign up</a>

        </form>
    </div>
</div>