@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_header_footer.cshtml";
}

<div class="row">

    <div class="col-md-offset-2 col-md-10">
        <h2> Cangratulation! your Order has been Confirmed</h2>
        <p>
            In case of any trouble mail us on this email
            </p>
        <p> RJTab@gmail.com </p>
    </div>
</div>
